
body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#start_page {
    display: block;
}


#test_ise {
    display: none;
}

#nupud {
    display: flex;
}


body.disabled {
    pointer-events: none;
}

#hoiatus {
    display: none;
    color: red;
}

#leek {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.01;
    /*object-fit: cover;*/
    display: none;
    z-index: 99999;
}

#nupud {
    width: 75%;
}

.nupu-class {
    background-color: red;
    width: 100px;
    height: 50px;
    margin: 10px;
    font-size: large;
}
